a {
  color: black;
}

.active {
  background-color: #00796b !important;
}

.active a{
  color: white !important;
}

.material-icons {
  color: #00796b;
}

.active .material-icons {
  color: #ffffff;
}

.row span{
  font-size: 12px;
  font-weight: bold;

}

.num{
  margin: 0 !important;
  color: #00796b;
  font-weight: bold;
  font-size: 16px;
}
