<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px">
  <div class="row">

    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class="col s12 m8 l9">

      <div class="col s12 m10">
        <div class="row">
          <div class="card">
            <ul class="collection">
              <li class="collection-item">
                <span class="post">{{post}}</span>
              </li>

            </ul>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card postDiv">
              <div class="card-content">
                <form [formGroup]="commentForm" (ngSubmit)="addComment()">
                  <div class="formDiv">
                    <textarea formControlName="comment" class="materialize-textarea"></textarea>
                    <button class="btn postBtn" [disabled]="!commentForm.valid">
                      Add Comment
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <ul class="collection col s12 m10" *ngFor="let comment of commentsArray">
        <li class="collection-item avatar">
          <img src="http://res.cloudinary.com/dfn8llckr/image/upload/v{{comment.user_id.profileImageVersion}}/{{comment.user_id.profileImageId}}" class="circle">
          <span class="title">{{comment.username}}</span>
          <p class="time">{{timeFromNow(comment.created_at)}}</p>
          <p class="postComment">{{comment.comment_text}}</p>
          <span *ngIf="isCommentMine(comment)" class="secondary-content clickable">
            <i (click)="removeComment(comment)" class="material-icons">delete</i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

