<ul class="collection col s12 m12 l10" *ngFor="let post of followersPosts">

  <li class="collection-item avatar">
    <img src="http://res.cloudinary.com/dfn8llckr/image/upload/v{{post.user_id.profileImageVersion}}/{{post.user_id.profileImageId}}" class="circle">
    <span class="title">{{post.username}}</span>
    <p class="time">{{timeFromNow(post.created_at)}}
      <br> @{{post.user_id.city}}, {{post.user_id.country}}
    </p>
  </li>

  <div class="row">
    <div class="col s12">

      <div class="card">

        <div class="card-image" *ngIf="post.imageId">
          <a href="http://res.cloudinary.com/dfn8llckr/image/upload/v{{post.imageVersion}}/{{post.imageId}}">
            <img class="postImage" src="http://res.cloudinary.com/dfn8llckr/image/upload/v{{post.imageVersion}}/{{post.imageId}}">
          </a>
        </div>

        <div class="card-content">
          <p>{{post.post}}</p>
        </div>

        <div class="card-action">

          <i (click)="likeOrUnlike(post, currentUser)" [ngClass]="checkIfCurrentUserLikedPost(post.likes, currentUser.username) ? 'liked' : 'notLiked'" class="material-icons">thumb_up</i>
          <span class="iconSpan">
            {{post.total_likes}}
          </span>

          <i class="material-icons" [ngClass]="checkIfCurrentUserLikedPost(post.comments, currentUser.username) ? 'liked' : 'notLiked'" (click)="openCommentsBox(post)">chat</i>
          <span class="iconSpan">
            {{post.comments.length}}
          </span>

          <span class="secondary-content" *ngIf="post.user_id._id === currentUser._id">
            <i (click)="removePost(post)" class="material-icons">delete</i>
          </span>

        </div>

      </div>
    </div>
  </div>
</ul>
